.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 3rem;
  align-items: start;
}
.card {
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
}
